body{
    touch-action:none;
    touch-action:pan-y;
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
}
*{
    margin: 0;
    padding: 0;
}
.el-upload,.el-upload-list__item{
    width: 100px!important;
    height: 100px!important;
    line-height: 100px!important;
}
.el-upload-list__item{
    display: none!important;
}
.box{
    display: inline-block;
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 5px;
}
.upload_box{
    margin-bottom: 20px;
}
.upload_box span{
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    float: left;
}
.pic{
    position: absolute;
    color: #ffffff;
    top: 0;
    right: 0px;
    background: rgba(125, 125, 125, 0.4);
    font-size: 16px;
    border-top-right-radius: 5px;
}
.upload{
    display: inline-block!important;
    margin-top: 10px;
    float: left;
}
.clear{ clear:both}
.el-message-box{
    width: 70%!important;
}
.el-message--warning{
    width: 80%;
}
.el-message{
    min-width: auto!important;
}
textarea{
    resize:vertical!important;
    border-radius: 4px!important;
    border: 1px solid #DCDFE6!important;
    outline:none!important;
    font-size: 16px;
    padding-top: 5px;
}
.textarea_span{
    color: #909399;
    background: #fff;
    position: absolute;
    font-size: 16px;
    bottom: -17px;
    right: 0px;
}
.el-input{
    font-size: 16px!important;
}
.btn{
    width: 60% !important;
    height: 40px!important;
    font-size: 16px!important;
    margin-left: 20%!important;
    background: #ff6a00!important;
    color: #ffffff!important;
}
